<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/style.css}" href="/css/style.css"/>
    <title>Home</title>
</head>
<body>
<div class="nav" th:fragment="header">
    <h1>Let's Party</h1>
    <div class="blok2"><a th:href="@{/}">home</a></div>
    <div class="blok2"><a th:href="@{/about}">about</a></div>
    <div class="blok2"><a th:href="@{/venuelist}">venues</a></div>
    <div class="blok2"><a th:href="@{/artistlist}">artists</a></div>
</div>
</body>
</html>