<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/style.css}" href="/css/style.css"/>
    <title>Artistlist</title>
</head>
<body>
<div th:replace="fragments/header:: header">Header</div>
<main>
    <h2>Artists</h2>
    <div class="container">
        <div class="container">
            <a class="blok2" th:if="${!showFilter}" th:href="@{|/artistlist/filter|}" th:text="filter">filter</a>
            <a class="blok2" th:if="${showFilter}" th:href="@{|/artistlist|}" th:text="'-'">filter</a>
        </div>
        <div th:if="${showFilter}">
<!--            <div th:text="|${allartistcount} artists found|"></div>-->
            <form>
                <div class="onefilter">
                    <input class="blok2" type="submit" value="search">
                </div>
                <h3>keyword's</h3>
                <div>
                    <div>
                        <label for="keyword">keyword</label>
                        <input type="text" id="keyword" name="keyword" placeholder="enter artist">
                    </div>

                </div>
            </form>
        </div>
        <div class="row">
            <div class="Kolom1">
                <div class="blok3" th:each="artist : ${artists}">
                    <a th:href="@{|/artistdetails/${artist.id}|}" th:text="${artist.getArtistName()}">Artistname Name</a>
                </div>
                <div class="blok3"><a th:href="@{/artistdetails}">artistdetails</a></div>
            </div>
        </div>
    </div>
</main>

<div th:replace="fragments/footer:: footer">footer</div>
</body>
</html>