<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/style.css}" href="/css/style.css"/>
    <title>clientdetails</title>
</head>
<body>
<div th:replace="fragments/header:: header">Header</div>
<main>
    <h2 th:text=)${client.getName()}">venuedetails</h2>
    <div class="container">
        <div class="row">
            <div class="Kolom1">
                <p> date of birth:</p>
                <p>gender:</p>
                <p>start date:</p>

            </div>

            <div class="Kolom2">

                <p th:text="${client.getBirthdate()}"></p>
                <p th:text="${client.getGender()}"></p>
                <p th:text="${client.getStartdate()}"></p>

            </div>
        </div>
    </div>

</main>
<footer>copyright ThomasMore</footer>
</body>
</html>