<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/style.css}" href="/css/style.css"/>
    <title>venuedetails</title>
</head>
<body>
<div th:replace="fragments/header:: header">Header</div>
<main>
    <div class="container">
        <div class="kolom2" th:if="${party}">
            <a class="prevButton" th:if="${party.getId()}>1" th:href="@{${party.getId()}-1}" th:text="'<'"></a>
            <a class="prevButton" th:if="${party.getId()}== 1" th:href="@{${parties.longValue()}}" th:text="'<'"></a>

            <a class="nextButton" th:if="${party.getId()}<${parties}" th:href="@{${party.id}+1}" th:text="'>'"></a>

            <a class="nextButton" th:if="${party.getId()}==${parties}" th:href="@{1}" th:text="'>'"></a>
            <h2 th:text="${party.getName()}">venuedetails</h2>
            <h2 th:text="|${party.getDate()} in |"></h2>
            <a th:class="venuename" th:href="@{/venuedetails/${party.getVenue().id}}">
                <span th:text="${party.getVenue().getVenueName()}"></span>
            </a>

        </div>
        <div class="row" th:if="${party}">
            <div class="Kolom1" th:if="${party.getPricePresaleInEur() != null and party.getExtraInfo() != null}">
                <p>where:</p>
                <p>price:</p>
                <p>doors:</p>
                <p>extra info:</p>
            </div>
            <div class="Kolom1" th:if="${party.getPriceInEur() == null }">
                <p>Free party!!</p>
                <p>doors:</p>
            </div>


            <div class="Kolom2" th:if="${party.getPricePresaleInEur() != null and party.getExtraInfo() != null}">
                <p th:text="|${party.getVenue().getCity()} (${party.getVenue().getDistanceFromPublicTransportInKm()} km from public transport)|"></p>
                <p th:text="|${party.getPricePresaleInEur()}&euro; (presale) / ${party.getPriceInEur()}&euro; |">
                    venuedetails</p>
                <p th:text="${party.getDoors()}"></p>
                <p th:text="${party.getExtraInfo()}"></p>
            </div>
            <div class="Kolom2" th:if="${party.getPriceInEur() == null}">
                <p th:text="${party.getDoors()}"></p>
            </div>
        </div>
        <div class="row">
            <div class="Kolom1" th:if="${!party.getArtists().isEmpty()}">
                <h2 th:text="|line up:|">lineup</h2>
            </div>
        </div>
        <div class="row">
            <div class="Kolom2" th:if="${!party.getArtists().isEmpty()}">
                <div th:each="artist : ${party.getArtists()}">
                    <a class="blok3" th:href="@{|/artistdetail/${artist.id}|}">
                        <span th:text="${artist.getArtistName()}"></span>
                    </a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="Kolom1" th:if="${!party.getAnimals().isEmpty()}">
                <h2 th:text="|who goes :|">lineup</h2>
            </div>
        </div>
        <div class="row">
            <div class="Kolom2" th:if="${!party.getAnimals().isEmpty()}">
                <div th:each="animal : ${party.getAnimals()}">
                    <a class="blok3" th:href="@{|/animaldetail/${animal.id}|}">
                        <span th:text="${animal.getName()}"></span>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="Kolom1" th:if="${party}">
            <a th:class="blok2" th:href="@{|/admin/partyedit/${party.getId()}|}" th:text="|edit|">
            </a>
        </div>
    </div>

</main>
<div th:replace="fragments/footer:: footer">Header</div>
</body>
</html>