<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/style.css}" href="/css/style.css"/>
    <title>Partylist</title>
</head>
<body>
<div th:replace="fragments/header:: header">Header</div>
<main>
    <h2>Parties</h2>
    <div class="row ">
        <div class="Kolom1">
            <div th:each="party : ${parties}">
                <a class="blok3" th:href="@{|/partydetail/${party.id}|}">
                    <span th:text="${party.getName()}"></span>
                    <div th:text="${party.getDate()}"></div>
                </a>
            </div>
            <div sec:authorize="hasAuthority('ADMIN')">
                <a th:class="blok3" th:href="@{|/admin/partynew|}" th:text="|create|"></a>
            </div>

        </div>

    </div>
</main>
<div th:replace="fragments/footer:: footer">footer</div>
</body>
</html>