<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/style.css}" href="/css/style.css"/>
    <title>Venuelist</title>
</head>
<body>
<div th:replace="fragments/header:: header">Header</div>
<main>
    <h2>venues</h2>
    <div class="container">
        <a class="blok2" th:if="${!showFilter}" th:href="@{|/venuelist/filter|}" th:text="filter">filter</a>
        <a class="blok2" th:if="${showFilter}" th:href="@{|/venuelist|}" th:text="'-'">filter</a>
    </div>
    <div th:if="${showFilter}">
        <div th:text="|${amount} venues found|"></div>
        <form>
            <div class="onefilter">
                <input class="blok2" type="submit" value="search">
            </div>
            <h3>capacity</h3>
            <div>
                <div>
                    <label for="minCapacity">min </label>
                    <input type="number" id="minCapacity" name="minCapacity" step="50" th:value="${minCapacity}">Persons
                </div>
                <div>
                    <label for="maxCapacity">max </label>
                    <input type="number" id="maxCapacity" name="maxCapacity" step="50"th:value="${maxCapacity}">Persons
                </div>
                <h3>distance from public transport</h3>
                <div>
                    <label for="maxKm">max </label>
                    <input type="number" id="maxKm" name="maxKm" step="1"th:value="${maxKm}">km
                </div>

                <h3>Food</h3>
                <div>
                    <label for="FoodYes" class="filtername">yes</label>
                    <input type="radio" id="foodYes" name="filterFood" value="yes">
                </div>
                <div>
                    <label for="FoodNo" class="filtername">no</label>
                    <input type="radio" id="foodNo" name="filterFood" value="no">
                </div>
                <div>
                    <label for="Foodall" class="filtername">all</label>
                    <input type="radio" id="foodall" name="filterFood" value="all">
                </div>

                <h3> Indoor</h3>
                <div>
                    <label for="indoorYes" class="filtername">yes</label>
                    <input type="radio" id="indoorYes" name="filterIndoor" value="yes">
                </div>
                <div>
                    <label for="indoorNo" class="filtername">no</label>
                    <input type="radio" id="indoorNo" name="filterIndoor" value="no">
                </div>
                <div>
                    <label for="indoorall" class="filtername">all</label>
                    <input type="radio" id="indoorall" name="filterIndoor" value="all">
                </div>
                <h3> Outdoor</h3>
                <div>
                    <label for="outdoorYes" class="filtername">yes</label>
                    <input type="radio" id="outdoorYes" name="filterOutdoor" value="yes">
                </div>
                <div>
                    <label for="outdoorNo" class="filtername">no</label>
                    <input type="radio" id="outdoorNo" name="filterOutdoor" value="no">
                </div>
                <div>
                    <label for="outdoorAll" class="filtername">all</label>
                    <input type="radio" id="outdoorAll" name="filterOutdoor" value="all">
                </div>
            </div>
        </form>
    </div>
    <div class="row ">
        <div class="Kolom1 " >
            <div  th:each="venue : ${venues}">
                <a class="blok3" th:href="@{|/venuedetails/${venue.id}|}">
                    <span th:utext="${venue.getVenueName()}"></span>
                    <div th:text="| capacity: ${venue.getCapacity()}|"></div>
                </a>
            </div>
            <div class="blok3"><a th:href="@{/venuedetails}">venuedetails</a>
            </div>
        </div>
    </div>
    </div>
</main>


<div th:replace="fragments/footer:: footer">footer</div>
</body>
</html>