<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/style.css}" href="/css/style.css"/>
    <title>Venuelist</title>
</head>
<body>
<div th:replace="fragments/header:: header">Header</div>
<main>
    <h2>venues</h2>
    <div class="container">
        <div class="row">
            <div class="Kolom1">
                <div class="blok2" th:each="venue : ${venues}">
                    <a th:href="@{|/venuedetails/${venue.id}|}" th:text="${venue.getVenueName()}">venue Name</a></a>
                </div>
                <div class="blok2"><a th:href="@{/venuedetails}">venuedetails</a></div>
            </div>
        </div>
    </div>
</main>

<div th:replace="fragments/footer:: footer">footer</div>
</body>
</html>